*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}


#main{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}


.left-side{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #4E5BEE;
    width: 40%;
    z-index: 2;
    
}

.logo{
    position: absolute;
    width: 177px;
    height: 69.79px;
    top: 229px;
    left: 212px;
}

.login{
    display: flex;
    position: absolute;
    flex-direction: column;
   
}

.form{
    display: flex;
    flex-direction: column;

}

.usuario{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 350px;
    left: 150px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    outline: none;
    text-align: left;
    font-size: 12px;
}

.usuario::placeholder{
    color: white;
}

.icon1{
    position: absolute;
    width: 25px;
    height: 25px;
    object-fit: cover;
    top: 360px;
    left: 160px;
}

.senha{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 410px;
    left: 150px;
    gap: 0px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    font-size: 12px;
}

.senha::placeholder{
    color: #fff;
}

.icon2{
    position: absolute;
    width: 25px;
    height: 25px;
    object-fit: cover;
    top: 425px;
    left: 160px;
}

button{
    position:absolute;
    width: 300px;
    height: 50px;
    top: 470px;
    left: 150px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
}


p{
    color: white;
    text-align: center;
    position: absolute;
    width: 150px;
    height: 32px;
    top: 600px;
    left: 228px;
    font-size: 14px;

}

a{
    color: white;
    text-align: center;
    position: absolute;
    width: 144px;
    height: 32px;
    top: 640px;
    left: 228px;
    font-size: 14px;
}

/*fim da seção esquerda*/

/*Inicio da seção direita*/

.right-side{
    background-color: white;
    width: 55%;
    z-index: 0;
}

.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
   
}

.hero img{
    position: absolute;
    width: 1084.15px;
    height: 700px;
    top: 21px;
    left: 440px;
}


@media only screen and (max-width: 768px){

    *{
        margin: 0;
        padding: 0;
    }

    html, body{
        width: 100%;
        height: 100%;
    }


    .left-side{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .right-side{
        display: none;
    }

    .hero{
        display: none;
    }

    
}

@media only screen and (max-width: 480px){

    *{
        margin: 0;
        padding: 0;
    }

    html, body{
        width: 100%;
        height: 100%;
    }


    .left-side{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .logo{
        position: absolute;
        top: 229px;
        left: 120px;
    }

    .usuario{
        position: absolute;
        top: 350px;
        left: 55px;
    }

    .senha{
        position: absolute;
        top: 410px;
        left: 55px;
    }

    .icon1{
        position: absolute;
        top: 360px;
        left: 65px;
    }

    .icon2{
        position: absolute;
        top: 425px;
        left: 65px;
    }

    button{
        position: absolute;
        top: 470px;
        left: 55px;
    }

    p{
        color: white;
        text-align: center;
        position: absolute;
        top: 600px;
        left: 140px;
        font-size: 14px;
    
    }
    
    a{
        color: white;
        text-align: center;
        position: absolute;
        top: 640px;
        left: 140px;
        font-size: 14px;
    }

    .right-side{
        display: none;
    }

    .hero{
        display: none;
    }

    
}