*{
    margin: 0;
    padding: 0;
}


html, body{
    width: 100%;
    height: 100%;
}

#main{

    display: flex;
    width: 1440px;
    height: 800px;
    

    
}

.login{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #4E5BEE;
    
  
}

.form{
    display: flex;
    position: relative;

}

.icon1{
    position: absolute;
    width: 25px;
    height: 25px;
    object-fit: cover;
    top: 360px;
    left: 160px;
}


.logo{
    position: absolute;
    width: 177px;
    height: 69.79px;
    top: 229px;
    left: 212px;


}

.usuario{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 350px;
    left: 150px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    outline: none;
    text-align: left;
    font-size: 12px;
}

.usuario::placeholder{
    color: #fff;
}
   

.icon img{
    position: absolute;
    display: flex;
    top: 410px;
}

.senha{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 410px;
    left: 150px;
    gap: 0px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    font-size: 12px;
}

.senha::placeholder{
    color: #fff;
}

.icon2{
    position: absolute;
    width: 25px;
    height: 25px;
    object-fit: cover;
    top: 425px;
    left: 160px;
}

.button{
    position:absolute;
    width: 300px;
    height: 50px;
    top: 470px;
    left: 150px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
}


p{
    color: white;
    text-align: center;
    position: absolute;
    width: 144px;
    height: 32px;
    top: 600px;
    left: 228px;

}

a{
    color: white;
    text-align: center;
    position: absolute;
    width: 144px;
    height: 32px;
    top: 620px;
    left: 228px;

}


a:hover{
    font-weight: 600;
    

}


.team{
    display: flex;
    width: 50%;
    
}


.team img{

    width: 800px;
    height: 750px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    
}

/*responsivo para formato de tablet*/

@media (max-width:768px){

    html, body{
        width: 100%;
    }

    #main{
        flex-wrap: wrap;
    }

    .login{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #4E5BEE;
        
      
    }


    .team{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .team img{
        width: 800px;
        height: 750px;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        
        
    }

    .icon1{
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: cover;
        top: 360px;
        left: 43%;
    }
    
    
    .logo{
        position: absolute;
        width: 400px;
        height: 200px;
        top: 100px;
        left: 38.5%;
    
    
    }


    
    .usuario{
        position: absolute;
        width: 200px;
        height: 50px;
        top: 350px;
        left: 42%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        cursor: pointer;
        padding-left: 50px;
        padding-right: 50px;
        color: white;
        outline: none;
        text-align: left;
        font-size: 12px;
    }

    .usuario::placeholder{
        color: #fff;
    }
       
    
    .icon img{
        position: absolute;
        display: flex;
        top: 410px;
        left: 40%;
    }
    
    .senha{
        position: absolute;
        width: 200px;
        height: 50px;
        top: 415px;
        left: 42%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        cursor: pointer;
        color: white;
        outline: none;
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
        font-size: 12px;

    }

    .senha::placeholder{
        color: #fff;
    }
    
    .icon2{
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: cover;
        top: 425px;
        left: 43%;
    }
    
    .button{
        position:absolute;
        width: 300px;
        height: 50px;
        top: 480px;
        left: 42%;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid black;
    
    
    
    }
    
    p{
        color: white;
        text-align: center;
        position: absolute;
        width: 144px;
        height: 32px;
        top: 570px;
        left: 48%;
    
    }
    
    a{
        color: white;
        text-decoration: none;
        text-align: center;
        position: absolute;
        width: 144px;
        height: 32px;
        top: 600px;
        left: 48%
    }

}

@media (max-width:480){

    htm, body{
        width: 100%;
    }

    
    .login{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #4E5BEE;
    }


    .icon1{
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: cover;
        top: 360px;
        left: 43%;
    }
    
    
    .logo{
        position: absolute;
        width: 400px;
        height: 200px;
        top: 100px;
        left: 38.5%;
    }
    
    .usuario{
        position: absolute;
        width: 200px;
        height: 50px;
        top: 350px;
        left: 42%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        cursor: pointer;
        padding-left: 50px;
        padding-right: 50px;
        color: white;
        outline: none;
        text-align: left;
        font-size: 12px;
    }

    .usuario::placeholder{
        color: #fff;
    }
       
    
    .icon img{
        position: absolute;
        display: flex;
        top: 410px;
        left: 40%;
    }
    
    .senha{
        position: absolute;
        width: 200px;
        height: 50px;
        top: 415px;
        left: 42%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        cursor: pointer;
        color: white;
        outline: none;
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
        font-size: 12px;

    }

    .senha::placeholder{
        color: #fff;
    }
    
    .icon2{
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: cover;
        top: 425px;
        left: 43%;
    }
    
    .button{
        position:absolute;
        width: 300px;
        height: 50px;
        top: 480px;
        left: 42%;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid black;
    
    
    
    }
    
    p{
        color: white;
        text-align: center;
        position: absolute;
        width: 144px;
        height: 32px;
        top: 570px;
        left: 48%;
    
    }
    
    a{
        color: white;
        text-decoration: none;
        text-align: center;
        position: absolute;
        width: 144px;
        height: 32px;
        top: 600px;
        left: 48%
    }

    .team{
        display: none;
    }

}


